
/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
	border-left-color:green;
	border text-decoration-thickness:5px;
	
}
.heading
{
	color:white;
	text-decoration:underline;
	font-size:20px;
}